*{
    font-family: 'Plus Jakarta Sans', sans-serif;
}
#header{
    height: 147px;
}
h1{
    font-size: 80px;
    margin-top: 15px;
    text-align: center;
}

h3{
    margin-left: 40px;
    margin-top: 30px;
}

#principal{
    height: 400px;
}

#dolado{
    height: 400px;
    border-radius: 30px;
}

.icones{
    margin-left: 40px;
    width: 50px;
    height: 50px;
    margin-top: 30px;
}